{% extends 'base.html.twig' %}

{% block title %}
{{ 'backoffice.article.title'|trans }}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ asset('bundles/app/css/backoffice/backoffice_base.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/app/css/backoffice/article/index.css') }}">
{% endblock %}
{% block sidebar %}
{% include 'backoffice/backoffice_sidebar.html.twig' %}
{% endblock %}
{% block main %}
    <a href="{{ url('backoffice_article_create') }}" class="default_button" id="create_button">{{ 'action.create'|trans }}</a>
    <h1 class="title_1">{{ 'backoffice.article.title'|trans }}</h1>
    <table class="item_table">
        <thead>
            <tr>
                <th class="empty"></th>
                <th class="name_field">{{ 'backoffice.article.item.title'|trans }}</th>
                <th class="date_field">{{ 'backoffice.article.item.creation_date'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td class="button"><a href="{{ url('backoffice_article_update', { articleId: article.id }) }}"></a></td>
                <td>{{ article.title }}</td>
                <td>{{ article.date|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}