{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ asset('bundles/app/css/backoffice/backoffice_base.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/app/css/backoffice/article/form.css') }}">
{% endblock %}
{% block sidebar %}
{% include 'backoffice/backoffice_sidebar.html.twig' %}
{% endblock %}
{% block js %}
    <script type="text/javascript">
        var epicEditor = {
            togglePreview: "Previsualizar",
            toggleEdit: "Editar",
            toggleFullscreen: "Pantalla Completa"
        };
        var deleteUrl = '{{ url('backoffice_article_delete', { articleId: article.id }) }}';
    </script>    
    <script src="{{ asset('bundles/vendor/bower_components/EpicEditor/epiceditor/js/epiceditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/service/epiceditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/backoffice/article/update.js') }}" type="text/javascript"></script>
{% endblock %}
{% block main %}
    <div id="delete_wrapper" class="wrapper_fadein_window">
        <article class="fadein_window">
            <h1>{{ 'backoffice.article.delete'|trans }}</h1>
            <div class="button_wrapper">
                <button class="default_button" id="delete_yes_button">{{ 'yes'|trans }}</button>
                <button class="default_button" id="delete_no_button">{{ 'no'|trans }}</button>
            </div>
        </article>
        <div class="disable_window_background"></div>
    </div>
    <button id="delete_button" class="default_button">{{ 'action.delete'|trans }}</button>
    <h1 class="title_1">{{ article.title }}</h1>
    <form action="{{ path('backoffice_article_update_submit', { 'articleId': article.id }) }}" method="post" id="article_form">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset id="state_wrapper">
            {{ form_label(form.active) }}
            {{ form_errors(form.active) }}
            {{ form_widget(form.active) }}
        </fieldset>
        <fieldset id="language_wrapper">
            {{ form_label(form.language) }}
            {{ form_errors(form.language) }}
            {{ form_widget(form.language) }}
        </fieldset>
        <fieldset>
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}
        </fieldset>
        <fieldset>
            {{ form_label(form.slug) }}
            {{ form_errors(form.slug) }}
            {{ form_widget(form.slug) }}
        </fieldset>
        <fieldset>
            {{ form_label(form.thumbnail) }}
            {{ form_errors(form.thumbnail) }}
            {{ form_widget(form.thumbnail) }}
        </fieldset>
        <fieldset>
            {{ form_label(form.thumbnail_alt) }}
            {{ form_errors(form.thumbnail_alt) }}
            {{ form_widget(form.thumbnail_alt) }}
        </fieldset>
        <fieldset>
            {{ form_label(form.summary) }}
            {{ form_errors(form.summary) }}
            {{ form_widget(form.summary) }}
        </fieldset>
        {{ form_label(form.tags) }}
        <div id="tag_fieldset">
            {% for product in form.tags %}
            <fieldset>
                {{ form_widget(product) }}
                {{ form_label(product) }}
            </fieldset>            
            {% endfor %}
        </div>
        <a id="markdown_cheatsheet" target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a>
        <fieldset>
            {{ form_label(form.article_extend.markdown) }}
            {{ form_errors(form.article_extend.markdown) }}
            {{ form_widget(form.article_extend.markdown) }}
        </fieldset>
        <div id="epiceditor"></div>
        <fieldset id="html_content_wrapper">
            {{ form_label(form.article_extend.html) }}
            {{ form_errors(form.article_extend.html) }}
            {{ form_widget(form.article_extend.html) }}
        </fieldset>
        <input type="submit" class="default_button" id="submit_button" value="{{ 'action.update'|trans }}">
        {{ form_end(form) }}
    </form>
{% endblock %}