<aside id="sidebar">
    <ul>
        <li><a href="{{ url('backoffice_article') }}">{{ 'backoffice.article.name'|trans }}</a></li>
        <li><a href="{{ url('backoffice_tag') }}">{{ 'backoffice.tag.name'|trans }}</a></li>
    </ul>
    <img src="{{ asset('bundles/app/img/logo.png') }}" width="200px" id="logo"></span>
</aside>