<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="{% block description %}{{ 'main_description' | trans }}{% endblock %}">
        <meta name="author" content="Eduardo Casas">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block locale %}
        {#
        {% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
        <link rel="alternate" hreflang="es" href="{{ app.request.getSchemeAndHttpHost()~path(app.request.attributes.get('_route'), params|merge({'_locale': 'es'})) }}">
        <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost()~path(app.request.attributes.get('_route'), params|merge({'_locale': 'en'})) }}">
        #}
    {% endblock %}
        <link rel="stylesheet" href="{{ absolute_url(asset('bundles/app/css/base.css')) }}">
    {% block css %}{% endblock %}
        <script src="{{ absolute_url(asset('bundles/vendor/bower_components/jquery/dist/jquery.min.js')) }}" type="text/javascript"></script>
        <script src="{{ absolute_url(asset('bundles/app/js/base.js')) }}" type="text/javascript"></script>
    {% if not app.request.cookies.has('lssi') %}
        <script src="{{ absolute_url(asset('bundles/app/js/cookies.js')) }}" type="text/javascript"></script>
    {% endif %}
    {% block js %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('bundles/app/img/favicon.png')) }}">
    </head>
    <body>
        <div id="body">
            <header id="header">
                <button id="display_sidebar_button">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <h1>Respira Madrid</h1>
                <nav>
                    <ul>
                        <li>
                        {% if section is defined and section == 'home' %}
                            <strong>{{ 'home.name'|trans }}</strong>
                        {% else %}
                            <a href="{{ url('home') }}">{{ 'home.name'|trans }}</a>
                        {% endif %}
                        </li>
                        <li>
                        {% if section is defined and section == 'blog' %}
                            <strong>{{ 'blog.name'|trans }}</strong>
                        {% else %}
                            <a href="{{ url('blog') }}">{{ 'blog.name'|trans }}</a>
                        {% endif %}
                        </li>
                        <li>
                        {% if section is defined and section == 'contact' %}
                            <strong>{{ 'contact.name'|trans }}</strong>
                        {% else %}
                            <a href="{{ url('contact') }}">{{ 'contact.name'|trans }}</a>
                        {% endif %}
                        </li>
                    {% if app.user %}
                        <li><a href="{{ url('backoffice_logout') }}">Logout</a></li>
                    {% endif %}
                    </ul>
                </nav>
                <div id="message_wrapper">
                    <span id="loading"></span>
                    <span id="saved_data_message"></span>
                    <span id="error_data_message"></span>
                </div>
            </header>
            {% block sidebar %}{% endblock %}
            <div id="wrapper">
                <div id="main_wrapper">
                    {% block main %}{% endblock %}
                </div>
            </div>
            <footer id="footer">
                <ul>
                    <li>{{ 'footer.author'|trans({ url: 'https://www.eduardocasas.com/es/' })|raw }}</li>
                    <li>{{ 'footer.cookies'|trans({ url: url('cookies') })|raw }}</li>
                    <li>{{ 'footer.license'|trans({ url: 'http://creativecommons.org/licenses/by/3.0/' })|raw }}</li>
                    <li>{{ 'footer.symfony'|trans({ url: 'http://symfony.com/' })|raw }}</li>
                    <li>{{ 'footer.github'|trans({ url: 'https://github.com/eduardocasas/Respira-Madrid' })|raw }}</li>
                </ul>
            </footer>
        </div>
    {% if not app.request.cookies.has('lssi') %}
        <div id="cookies_footer_wrapper">
            <p>{{ 'cookies.footer.t1'|trans({ url: url('cookies') })|raw }}
            <button class="default_button">{{ 'action.accept'|trans }}</button></p>
        </div>
    {% endif %}
{% if app.environment == 'prod' %}
    <!-- Start of StatHub Code For Asynchronous Web -->
    <script type="text/javascript">
        var project = 33;
    </script>
    <script type="text/javascript" src="https://www.stathub.org/web/js/counter_asynchronous.js"></script>
    <noscript><img src="https://www.stathub.org/record/insert/?project=33&url=unknown" alt="StatHub"></noscript>
    <!-- End of StatHub Code -->
{% endif %}
    </body>
</html>
