{% extends 'base.html.twig' %}

{% block title %}{{ tag.name }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ asset('bundles/app/css/backoffice/backoffice_base.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/app/css/backoffice/tag/form.css') }}">
{% endblock %}
{% block js %}
    <script src="{{ absolute_url(asset('bundles/app/js/backoffice/tag/update.js')) }}" type="text/javascript"></script>
    <script type="text/javascript">
        var deleteUrl = '{{ url('backoffice_tag_delete', { tagId: tag.id }) }}';
    </script>
{% endblock %}
{% block sidebar %}
{% include 'backoffice/backoffice_sidebar.html.twig' %}
{% endblock %}
{% block main %}
    <div id="delete_wrapper" class="wrapper_fadein_window">
        <article class="fadein_window">
            <h1>{{ 'backoffice.tag.delete'|trans }}</h1>
            <div class="button_wrapper">
                <button class="default_button" id="delete_yes_button">{{ 'yes'|trans }}</button>
                <button class="default_button" id="delete_no_button">{{ 'no'|trans }}</button>
            </div>
        </article>
        <div class="disable_window_background"></div>
    </div>
    <button id="delete_button" class="default_button">{{ 'action.delete'|trans }}</button>
    <h1 class="title_1">{{ tag.name }}</h1>
    <form action="{{ path('backoffice_tag_update_submit', { 'tagId': tag.id }) }}" method="post" id="tag_form">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </fieldset>
        <fieldset>
            {{ form_label(form.slug) }}
            {{ form_errors(form.slug) }}
            {{ form_widget(form.slug) }}
        </fieldset>
        <input type="submit" class="default_button" value="{{ 'action.update'|trans }}">
        {{ form_end(form) }}
    </form>
{% endblock %}